.material-symbols-outlined {
    font-size: 30px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    height: 80vh;
}

.title {
    margin-bottom: 5%;
}

.grid {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.125fr 0.5fr;
    column-gap: 10%;
    margin-bottom: 3%;
}

.field {
    width: 100%;
    grid-column: 1 / 3;
    border: 3px solid black;
}

select {
    background-color: white;
}

.grid-task {
    height: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.task {
    display: inline;
    margin-bottom: 5%;
}

.taskName {
    font-size: 25px;
}

.completed {
    text-decoration: line-through;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.gray {
    color: gray;
}
