body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.input-container {
  margin: 20px;
}

input, select {
  padding: 8px;
  font-size: 1rem;
}

button {
  font-size: 1.5rem;
  color: green;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

hr {
  margin: 30px auto;
  width: 80%;
  border: 3px solid gray;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 10px 0;
}

.priority-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.priority-alta {
  color: red;
}

.priority-media {
  color: orange;
}

.priority-bassa {
  color: green;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.3rem;
}

.check {
  color: gray;
}

.trash {
  color: gray;
}

.completato {
    text-decoration: line-through;
    color: gray;
}
