.main-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

table {
    margin: auto;
    width: 40%;
    border-spacing: 0px 15px;
    text-align: center;
}

th {
    font-size: 20px;
}

hr {
    border-radius: 0.3vh;
    border: 0.3vh solid #808080;
}

.eliminato {
    text-decoration: line-through;
}

.icona {
    width: 4.5vh;
    height: 4.5vh;
}